<div class="buttons">
  <button mat-button color="warn">button</button>
  <button mat-raised-button color="accent">raised</button>
  <button mat-flat-button>flat</button>
  <button mat-stroked-button color="primary">stroked</button>
  <button mat-icon-button>
    <i class="material-icons">
    person_outline
  </i>
  </button>
  <button mat-fab>fab</button>
  <button mat-mini-fab>mini</button>
</div>
<div class="example-container">
  <mat-form-field>
    <label>
      <input matInput placeholder="Input">
    </label>
  </mat-form-field>
</div>

